.story {
  border-left: 5px solid #0000004d;
  margin-left: 25px;
  padding-left: 10px;
}
.content {
  margin-left: 52px;
}

.title-icon {
  position: absolute;
  z-index: 2;
  margin-left: -50px;
  margin-top: -15px;
  background: white;
}
.title-select {
  min-height: 80px;
  padding-left: 80px;

}

.title-icon mat-icon {
  position: relative;
  font-size: 52px;
  border: 2px solid black;
  padding: 11px;
  min-width: 52px;
  border-radius: 50%;
  min-height: 52px;
}

.btn-video-upload mat-icon {
  font-size: 80px;
  width: 80px;
}

.btn-video-upload {
  left: -80px;
  width: 160px;
  height: 160px;
  position: absolute;
}

.btn-video-upload-container {
  position: relative;
  left: 50%;
  width: 50%;
  height: 200px;
}

mat-select {
    font-size: 32px;
    width: 250px;
}
.summary {
  color: grey;
}
.summary-icon {
  font-size: 21px;
  border: 1px solid grey;
  border-radius: 50%;
  padding-left: 3px;
  padding-top: 3px;
  margin-left: 5px;
}

mat-form-field {
  width: 100%;
}

.mat-form-field-infix {
  width: 100%;
}

.query-string {
  margin-top: 10px;
}

.page-description {
  margin-bottom: 20px;
}

.page-preview {
  float: right;
  margin-bottom: -10px;
}

.mat-card-header-text {
    width: 100%;
}

mat-card-header div {
    width: 100%;
}

.mat-expansion-panel-body {
    padding: 0 5px 16px;
}
