<div class="story">
  <div class="title-icon">
    <mat-icon>local_movies</mat-icon>
  </div>

<!-- <mat-card class="example-card"> -->
  <!-- <mat-card-header> -->
    <!-- <mat-card-title> -->
        <mat-select
          class="title-select"
          (change)="update()"
          placeholder="Select page"
          [(ngModel)]="selectedPage">
          <mat-option
            *ngFor="let p of Pages"
            [value]="p">
            {{p.title}}</mat-option>
        </mat-select>

        <div
          class="summary"
          *ngIf="selectedPage.page"
          [ngStyle]="{'display': showDetails ? 'none':''}">
          {{pageUrl}} {{'[ #' + startHash + ' - #' + endHash + ' ]'}}
          <mat-icon
            *ngFor="let d of data"
            [ngStyle]="{'color': d.colorkey}"
            class="summary-icon">movie</mat-icon>
          <mat-icon
            *ngFor="let d of audio"
            class="summary-icon">audiotrack</mat-icon>
        </div>
      <!-- </mat-form-field> -->

    <!-- </mat-card-title> -->
    <div
      *ngIf="selectedPage.page"
      [ngStyle]="{'display': showDetails ? '':'none'}">
      <div class="page-description">
        {{selectedPage.description}}
      </div>

      <button
        class="page-preview"
        mat-icon-button
        color="primary"
        (click)="pagePreview()">
        <mat-icon aria-label="Example icon-button with a heart icon">open_in_browser</mat-icon>
      </button>

      <mat-select
        class="hash-select"
        (change)="update()"
        placeholder="Start record page fragment"
        [(ngModel)]="startHash">
        <mat-option
          *ngFor="let h of selectedPage.hash"
          [value]="h">#{{h}}</mat-option>
      </mat-select>

      <mat-select
        class="hash-select"
        (change)="update()"
        placeholder="End record page fragment"
        [(ngModel)]="endHash">
        <mat-option
          *ngFor="let h of selectedPage.hash"
          [value]="h">#{{h}}</mat-option>
      </mat-select>

      <div *ngFor="let p of selectedPage.params" class="query-string">
        <mat-form-field>
          <input
            matInput
            [placeholder]="p"
            [(ngModel)]="queryString[p]"
            (keyup)="update()">
        </mat-form-field>
      </div>

<!--
    </div>
  <div *ngIf="selectedPage.page"> -->




    <form
        [ngStyle]="{'display':'none'}"
        [name]="id_form"
        method="post"
        enctype="multipart/form-data"
        target="_blank"
        [action]="endpoint">
      <!-- <input type="file" *ngFor="let d of Keys(data)" [id]="'infile-' + d" class="infile" name="file" accept="video/mp4"> -->
      <input type="text" name="data" [value]="jsonData">
      <input type="submit" [id]="id_submit" value="OK">
    </form>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>movie_creation</mat-icon> Overlay Videos
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-video
        *ngFor="let d of Keys(data)"
        [index] = "d"
        [storyIndex]="_index"
        (update)="data[d]=$event; update();"
        (delete)="onDelete(d)"></app-video>


      <mat-card
        class="example-card">
        <div class="btn-video-upload-container">
          <button
            mat-icon-button
            class="btn-video-upload"
            (click)="data.push({})">
            <mat-icon>movie_filter</mat-icon></button>
        </div>
      </mat-card>

  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>queue_music</mat-icon> Audio
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>

      <app-audio
        *ngFor="let a of Keys(audio)"
        [index] = "a"
        [storyIndex]="_index"
        (update)="audio[a]=$event; update();"
        (delete)="onAudioDelete(a)"></app-audio>
      <mat-card
        class="example-card">
        <div class="btn-video-upload-container">
          <button
            mat-icon-button
            class="btn-video-upload"
            (click)="addAudio()">
            <mat-icon>library_music</mat-icon></button>
        </div>
      </mat-card>

  </mat-expansion-panel>

</mat-accordion>






    <!-- <button
      class="btn-submit"
      (click)="submit()"
      mat-raised-button
      color="primary">
      <mat-icon>cloud_upload</mat-icon>
      Upload & process</button> -->

  </div>

  <mat-card-actions>
  </mat-card-actions>
<!-- </mat-card> -->
</div>
