/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

mat-card {
  margin-bottom: 20px;
  margin-top: 20px;
}

.mat-card-header-text {
    width: 100%;
}


.title-select {
  min-height: 80px;
  padding-left: 80px;
  min-width: 50%;
}
